*{
  box-sizing: border-box;
}
body{
 margin: 0;
  display: flex;
  flex-direction: column;
  background-image: url("https://images.unsplash.com/photo-1531547977107-a5f0f32d6d87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(5px) contrast(.4);
 color: white;
 font-family:  'Montserrat', sans-serif;
}



header{
  
  color: white;
  text-align: center;
  
  
}



label{
  display: block;
  margin-left: 18px;
}

select{

  width: 90%;
  margin:auto;
  display: block;
  border-radius: 4%;
  height: 35px;
  font-family:  'Montserrat', sans-serif;


}

button{
  background: rgba(0, 151, 19, 0.3);
  display: block;
  margin: auto;
  width: 75%;
  padding: 2px;
  background-color: teal;
  border-radius: 10%;
  border-radius: 4%;

}


textarea{
  width: 75%;
  margin: auto;
  margin-bottom: 20px;
  font-family:  'Montserrat', sans-serif;
}
.form-holder1 input{
  width: 90%;
  margin:auto;
  display: block;
  height: 35px;
  border-radius: 4%;
  font-size: 17px;

}




.form-holder1{
  font-size: 20px;
  background: rgba(0, 151, 151, 0.226);
  border: 5px solid red;
   display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  backdrop-filter: opacity(.7);
  
  
}


.form-holder2{
  font-size: 20px;
  background: rgba(0, 151, 151, 0.226);
  border: 5px solid greenyellow;
   display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  
  
}

.form-holder2 label{
  display: inline-block;
}




